


.navbarpage{
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    z-index: 2;
}


.imgtitle{
    width: 200px;
}
.linksbox{
    display: flex;
    list-style-type: none;
    gap: 40px;
    
}

.linksbox a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color:  green;
    padding: 15px;
    border-radius: 100px;
    transition: all ease-out 0.4s;
}
.linksbox a:hover{
    background-color: lightseagreen;
    color: white;
}

@media (max-width: 425px) {
    .navbarpage{
        padding: 0px 20px;
    }
    .imgtitle{
        width: 150px;
    }

    .linksbox{
        display: none;
    }
}